<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alw.temca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Temca">
        <activity android:name=".ui.Transformer.InstallationTransformerActivity"></activity>
        <activity android:name=".ui.Transformer.TransformerSizeActivity" />
        <activity android:name=".ui.Transformer.TransformerActivity" />
        <activity android:name=".ui.WireSize.CircuitBreakerActivity" />
        <activity android:name=".ui.PipeSize.PipeSizeReportActivity" />
        <activity android:name=".ui.SponsorActivity" />
        <activity android:name=".ui.PipeSize.SizeConduitActivity" />
        <activity android:name=".ui.PipeSize.SizeCableActivity" />
        <activity android:name=".ui.SoonActivity" />
        <activity android:name=".ui.WireSize.ReportActivity" />
        <activity android:name=".ui.WireSize.CircuitActivity" />
        <activity android:name=".ui.WireSize.TypeCableActivity" />
        <activity android:name=".ui.WireSize.InstallationActivity" />
        <activity android:name=".ui.PipeSize.PipeSizeActivity" />
        <activity android:name=".ui.WireSize.WireSizeActivity" />
        <activity android:name=".ui.WireSize.PhaseActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.alw.temca.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <receiver android:name=".Common.ApplicationSelectorReceiver" />
    </application>

</manifest>